body {
    margin: 40px;
}

.box {
    background-color: #8a8;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    width: 210px;
}

.box:nth-child(even) {
    background-color: #cca;
    color: #000;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 250px);
}

h1 {
    font-size: 80px;
    text-align: center;
}

table {
    width: 190px
}

.minor {
    font-size: 11px;
}
.major {
    font-size: 24px;
}
.name {
    font-size: 16px;
}
.port {
    color: #533;
    font-size: 50px;
    font-weight: bold;
}
