body {
    margin: 40px;
}

.box {
    background-color: #8a8;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    width: 210px;
}

.box:nth-child(even) {
    background-color: #cca;
    color: #000;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 250px);
}

h1 {
    font-size: 80px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}

table {
    width: 190px
}

.minor {
    font-size: 13px;
}
.major {
    font-size: 26px;
}
.name {
    font-size: 18px;
}
.mac {
    font-size: 18px;
    font-family: monospace;
}
.vendor {
    font-size: 13px;
    color: #555;
}
.notes {
    font-size: 13px;
    color: #006;
}
.patchpanel {
    font-size: 13px;
    color: #006;
}
.port {
    color: #600;
    font-size: 45px;
    font-weight: bold;
}
.vlan {
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    color: #600;
}
